.left-content
{
    background-color: #8B6BC4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
    flex: 1.2;
}

.img-box
{
    width: 200px;
    height: 200px;
}

.img-highlight
{
    width: 100%;
    height: 100%;
}

.left-about-title
{
    margin-bottom: 1vh;
}

.left-about-paragraph
{
    margin-top: 0;
    font-size: 12px;
}

textarea
{
    width: 50%;
}

.site-button-container
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.game-highlight-image
{
    width: 200px;
    height: 200px;
}

.game-highlight
{
    display: flex;
    flex-direction: column;
    align-items: center;
}