.gamedevSubtitle, .gamedevbox h2, .gamedevbox h4
{
    margin: 0px;
}

.link
{
    scroll-margin-top: 60px;
}

.gamedevbox p
{
    font-size: 14px;
}

.gamedevTitle
{
    align-self: baseline;
}

.tutorialimage
{
    max-width: 90%;
    align-self: center;
}