.gamejam-article
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.gamejam-article h4
{
    align-self: center;
    text-decoration: underline;
}

.gamejam-article p
{
    font-size: 0.8rem;
}

.gamejam-banner
{
    align-self: center;
    width: 90%;
    height: 200px;
    object-fit: cover;
}

.game-iframe
{
    align-self: center;
    margin-top: 20px;
    background-color: #211832;
}

.gamejam-post h2
{
    text-align: center;
    text-decoration: underline;
}

.gamejam-post p
{
    font-size: 15px;
}

iframe .game_summary
{
    background-color: black;
}