.mainContainer .navbar
{
    background-color: #412B6B;
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar a
{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.navbar a:hover
{
    background-color: #211832;
}