body{
    padding: 0;
    margin: 0;
    /* height: 10000px; */
}

.mainContainer{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

.mainContainer .mainContent
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000vh;
    background-color: lightgray;
}

.box
{
    width: 75%;
    background-color: #5C3E94;
    color: black;
    padding: 15px;
    font-weight: bold;
    border: 2px solid #211832;
  /* Stacked sharp offsets create a solid 3D depth */
  box-shadow: 
    1px 1px 0px #211832,
    2px 2px 0px #211832,
    3px 3px 0px #211832,
    4px 4px 0px #211832,
    5px 5px 0px #211832,
    6px 6px 0px #211832;
}

.box h3, h6
{
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.mainContent-box
{
    width: 85%;
    display: flex;
    flex-direction: column;
}

.middle-content
{
    background-color: #8B6BC4;
    height: 100%;
    flex: 3.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.middle-content > *:first-child {
  margin-top: 50px; 
}

.mainContainer .footer
{
    height: 10vh;
    /* width: 100%; */
    background-color: lightblue;
    border: 1px solid black;
}